node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
.env.local
todos.json


coverage/

/content/drafts/my-personal-site-journey.md

.agents/skills/
skills-lock.json
